html
  scroll-behavior: smooth

body
  margin: 0 !important

.frontpage
  background-image: url("#{$image-path}blue-cloud@2x.png")
  background-repeat: no-repeat
  background-position-x: 90%
  background-position-y: 3.5rem
  background-size: 60%

main, footer
  @include page-width()
  margin: auto



//This style is for the underconnstuction sign on the frontpage
.underconsturction__cover
  height: 100vh
  width: 100vw
  z-index: 10000
  background-color: white
  position: fixed
  display: flex
  justify-content: center



.section-container
  width: 100%
  border-bottom: 1px solid white

.section-container__hero
  height: calc(100vh - 68px)
  position: relative
  display: flex
  .section-content__container
    display: flex
    flex-direction: column
    align-self: center
    flex: 2 0 auto
    .hero__content
      max-width: 66%
      .sub-tile
        margin: 8px 0 24px
      .button__container
        display: flex
        justify-content: start
        flex-direction: row
  .section-content__image
    display: flex
    align-self: center
    flex: 1 0 auto
    position: relative
    img
      z-index: 5
      display: block
      max-width: 420px
      max-height: 321px
      width: auto
      height: auto

.section-container__booker
  display: flex
  justify-content: center
  padding-top: 92px

#booknetic_theme_8
  box-shadow: none
  flex-direction: column
  .booknetic_appointment_steps
    display: flex
    width: 100%
    justify-content: center
    .booknetic_appointment_steps_body
      display: flex
      .booknetic_appointment_step_element
        margin-left: 12px

.section-container__partners
  display: flex
  justify-content: center

.section-container__partners-container
  display: flex
  .partners-container__row
    display: flex
    flex-direction: column
    .partners-images__container
      display: flex
      flex-direction: row
      justify-content: center

.section-container__footer
  display: flex
  .footer__container
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-around
    .footer__container-block
      display: flex
      flex: 1 0 33%

