body
  margin: 0 !important

main, footer
  @include page-width()
  margin: auto



//This style is for the underconnstuction sign on the frontpage
.underconsturction__cover
  height: 100vh
  width: 100vw
  z-index: 10000
  background-color: white
  position: fixed
  display: flex
  justify-content: center



.section-container
  width: 100%
  border-bottom: 1px solid white

.section-container__hero
  height: 50vh
  max-height: 414px
  position: relative
  display: flex
  align-items: center
  background-image: url("#{$image-path}inworkshop-hero-bg.png")
  background-repeat: no-repeat
  background-position: bottom
  .section-container__slogan
    margin-left: 10%
  .hero__image-container
    position: absolute
    height: 280px
    width: 280px
    -webkit-border-radius: 15vh
    -moz-border-radius: 15vh
    border-radius: 25vh
    background-color: rgba(255,255,255, 0.4)
    border: 1px solid rgba(255,255,255, 0.8)
    right: 10%
    bottom: 22px
    .hero__image
      background-image: url("#{$image-path}girl-with-pen.png")
      position: absolute
      background-size: contain
      background-repeat: no-repeat
      height: 370px
      width: 230px
      bottom: -13px
      right: 14px
      z-index: 10000


.section-container__booker
  display: flex

.section-container__partners
  display: flex
  justify-content: center

.section-container__partners-container
  display: flex
  .partners-container__row
    display: flex
    flex-direction: column
    .partners-images__container
      display: flex
      flex-direction: row
      justify-content: center

.section-container__footer
  display: flex
  .footer__container
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-around
    .footer__container-block
      display: flex
      flex: 1 0 33%

