//Reset user agent

#menu-top-menu
  display: block
  list-style-type: none
  margin-block-start: 0
  margin-block-end: 0
  margin-inline-start: 0
  margin-inline-end: 0
  padding-inline-start: 0

// Top navigation
.nav__container-holder
  position: relative
  display: flex
  justify-content: center
  z-index: 1000
  left: 0
  top: 0
  right: 0
  height: $nav-height

.blur
  @include glassmorphism()
  transition: all 0.3s ease-in-out
  border-bottom-right-radius: 8px
  border-bottom-left-radius: 8px
  transition: box-shadow 0.4s ease-in-out

.nav__container
  display: flex
  position: fixed
  flex-direction: row
  justify-content: space-between
  height: $nav-height
  @include page-width()
  transition: all 0.3s ease-in-out
  transition: box-shadow 0.4s ease-in-out
  .nav__container-right
    right: 0
    position: relative
    height: $nav-height
    margin-right: 12px
    .nav__burger
      display: flex
      align-items: center
      height: 68px
      width: 30px
      right: 0
      position: relative
      cursor: pointer
      .nav__burger-btn
        width: 30px
        height: 4px
        background: $blue
        border-radius: 2px
        transition: all .5s ease-in-out
        &:before, &:after
          content: ''
          position: absolute
          width: 30px
          height: 4px
          background: $blue
          border-radius: 5px
          transition: all .5s ease-in-out
        &:before
          transform: translateY(-16px)
        &:after
          transform: translateY(16px)
    .nav__burger.open .nav__burger-btn
      transform: translateX(-30px)
      background: transparent
      &:before
        $burger-translateB: 20px, -20px
        -webkit-transform: rotate(45deg) translate($burger-translateB)
        -moz-transform: rotate(45deg) translate($burger-translateB)
        -ms-transform: rotate(45deg) translate($burger-translateB)
        -o-transform: rotate(45deg) translate($burger-translateB)
        transform: rotate(45deg) translate($burger-translateB)
      &:after
        $burger-translateA: 20px, 20px
        -webkit-transform: rotate(-45deg) translate($burger-translateA)
        -moz-transform: rotate(-45deg) translate($burger-translateA)
        -ms-transform: rotate(-45deg) translate($burger-translateA)
        -o-transform: rotate(-45deg) translate($burger-translateA)
        transform: rotate(-45deg) translate($burger-translateA)

    .nav__dropdown-container
      position: absolute
      width: 198px
      right: 0
      display: none
      justify-content: center
      top: 68px
      @include glassmorphism()
      border-bottom-right-radius: 8px
      border-bottom-left-radius: 8px
      border-top: none
    .show_nav
      display: flex
    ul
      display: flex
      flex-direction: column
      margin-right: $page-margin
      list-style-type: none
      li
        display: block
        padding: 12px 0
        border-bottom: 1px solid rgba(255,255,255,0.3)
        width: 150px
        text-align: center
        &:last-child
          border-bottom: none
        a
          font-family: lato-light
          font-size: 1.2rem
          text-decoration: none
          line-height: 2
          color: $blue
          &:hover
            color: $purple
  .nav__container-left
    margin-left: $page-margin


// Footer navigation
#menu-footer-menu
  display: flex
  flex-direction: column
  li
    display: block
    margin-left: 12px
    a
      text-decoration: none
      line-height: 2
